# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDEs
.vscode/
.idea/

# Environment Variables
.env
db_config.json

# Logs
logs/
*.log

# Backups
backups/

# System
thumbs.db
desktop.ini
